<template>
        <p>
            <slot />
        </p>
</template>

    <script>
        export default {
            name: "MainParagraph"
        }
    </script>

    <style scoped>
    
        p{
            font-family: var(--main-font);
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
        }
    </style>